 /* Add some basic styling for the body and the container element */
 .noBg{
    background-image: none;
    background-color: aliceblue;
  }
 bodyAdmin {
    margin: 0;
    font-family: sans-serif;
    background-color: #f8fafc;
  }
  .containerAdmin {
    display: flex;
  }
  /* Style the sidebar */
  .sidebarAdmin {
    width: 200px;
    height: 100vh; /* Set the sidebar to take up the full height of the viewport */
    background-color: #ddd;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0b2733d5;
  }
  .sidebarAdmin h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .sidebarAdmin ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
  }
  .sidebarAdmin li {
    margin-bottom: 10px;
  }
  .sidebarAdmin a {
    color: #666;
    text-decoration: none;
  }
  .sidebarAdmin a:hover {
    text-decoration: underline;
  }
  /* Style the main content */
  .main-content {
    flex: 1;
    padding: 20px;
  }
  .main-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  